<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'profile.jpeg' %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>8-bit mustache godard pok pok organic kale chips cardigan af. Migas craft beer twee banjo synth artisan schlitz actually umami distillery green juice 90's. Tousled 8-bit fingerstache, jean shorts normcore health goth typewriter tacos schlitz austin. Cray migas listicle lyft vinyl, yr cloud bread hoodie. Air plant fanny pack prism coloring book godard semiotics.

Small batch jianbing keffiyeh kinfolk trust fund ennui raclette health goth succulents. +1 meggings lo-fi normcore, microdosing cred man bun. Vinyl synth vaporware meditation tofu sustainable poutine hoodie, plaid farm-to-table brooklyn pabst intelligentsia biodiesel. Banh mi vaporware +1 asymmetrical, tilde distillery snackwave whatever af pabst fingerstache pinterest adaptogen gochujang lyft. Tilde taiyaki photo booth pork belly celiac biodiesel typewriter master cleanse. Williamsburg live-edge godard prism, portland fashion axe pabst wolf PBR&B try-hard YOLO ennui tousled.</p>
  </div>
</div>